@charset "UTF-8";
/*------------------------------------*\
  #UTIL-NORMALIZE
\*------------------------------------*/
/*
 * 1. Corriger la hauteur des lignes dans tous les navigateurs.
 * 2. Empêcher l'ajustement de la taille de la police après un changement d'orientation dans iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/*
 * Supprime la marge dans tous les navigateurs.
 */
body {
  margin: 0;
}

/*
 * Corrige la taille de la police et la marge sur les éléments `h1`
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * 1. Modifie les styles de police dans tous les navigateurs
 * 2. Supprime la marge dans Firefox et Safari.
 */
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Suppression de l'héritage de la transformation du texte dans Edge, Firefox et IE.
*/
button {
  text-transform: none;
}

/*
 * Correction de l'impossibilité de styliser les types cliquables dans iOS et Safari.
 */
button {
  -webkit-appearance: button;
}

/*
 * Supprime la bordure et le rembourrage intérieurs dans Firefox.
 */
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*
 * Restaure les styles de mise au point non définis par la règle précédente.
 */
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*------------------------------------*\
  #SETTINGS-TYPOGRAPHY
\*------------------------------------*/
/*
 * Famille de polices pour les éléments d'en-tête.
 * @type String | List
 */
/*
 * Poids de la police des en-têtes.
 * @type String
 */
/*
 * Couleur des en-têtes.
 * @type Color
 */
/*
 * Hauteur de ligne des en-têtes.
 * @type Number
 */
/*
 * Marge inférieure des en-têtes
 * @type Number
 */
/*
 * Styles d'en-têtes pour différentes tailles d'écran. Chaque valeur est une taille de police d'en-tête.
 * @type Map
 *
 */
/*
 * Méthode de rendu du texte des en-têtes.
 * @type String
 */
/*
 * Style de police (par exemple, en italique) des en-têtes.
 * @type String
 */
/*
 * Hauteur de ligne du texte à l'intérieur des éléments `<p>`.
 * @type Number
 */
/*
 * Marge inférieure des paragraphes.
 * @type Number
 */
/*
 * Méthode de rendu du texte pour le texte du paragraphe.
 * @type String
 */
/*
 *  Couleur par défaut pour les liens.
 *  @type Color
 */
/*
 * Couleur par défaut des liens au survol.
 * @type Color
 */
/*
 * Décoration de texte par défaut pour les liens.
 * @type String
 */
/*
 * Décoration par défaut du texte des liens au survol.
 * @type String
 */
/*
 * Taille de police par défaut du corp de la page
 * @type Number
 */
/*-----------------------------------------------*\
  #TYPOGRAPHY-BASE

  Application des styles de base de la typographie
  ainsi que des classe utilitaires concernant les
  en tête
\*------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 100%;
  margin-bottom: 1rem;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #1d2a49;
  text-rendering: optimizeLegibility;
}

/*
 * Application de la font size des en tête et la génération
 * des classes utilitaires
 */
h1, .h1 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

h2, .h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}

h3, .h3 {
  font-size: calc(1.31875rem + 0.825vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.9375rem;
  }
}

h4, .h4 {
  font-size: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5625rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  line-height: inherit;
  color: #767e98;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
a:hover, a:focus {
  color: #1d2a49;
  text-decoration: none;
}
a img {
  border: 0;
}

/*----------------------------------------*\
  #TYPOGRAPHY-ALIGNEMENT
\*----------------------------------------*/
/*
 * Génère l'ensemble des classe utilitaires permettant l'alignement du text
 */
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*-----------------------------------------------*\
  #TYPOGRAPHY-COLORS

  Définition des couleurs de text / liens possible
\*------------------------------------------------*/
.link-light-primary {
  color: #e0e8ff;
}
.text-light-primary {
  color: #e0e8ff;
}

.link-light-neutral {
  color: #f5f7ff;
}
.text-light-neutral {
  color: #f5f7ff;
}

.link-medium-neutral {
  color: #7280a7;
}
.text-medium-neutral {
  color: #7280a7;
}

.link-dark-primary {
  color: #3829e0;
}
.link-dark-primary:hover, .link-dark-primary:focus {
  color: #756af1;
}

.text-dark-primary {
  color: #3829e0;
}

.link-dark-neutral {
  color: #1f2f56;
}
.text-dark-neutral {
  color: #1f2f56;
}

.link-gray-light {
  color: #e6e6e6;
}
.text-gray-light {
  color: #e6e6e6;
}

.link-gray-medium {
  color: #c9c9c9;
}
.text-gray-medium {
  color: #c9c9c9;
}

.link-gray-dark {
  color: #767e98;
}
.link-gray-dark:hover, .link-gray-dark:focus {
  color: #1d2a49;
}

.text-gray-dark {
  color: #767e98;
}

.link-black-dark {
  color: #1d2a49;
}
.text-black-dark {
  color: #1d2a49;
}

/*------------------------------------*\
  #TYPOGRAPHY-DECORATION
\*------------------------------------*/
.underline {
  text-decoration: underline;
}

/*------------------------------------------------*\
  #TYPOGRAPHY-FONT-WEIGHT

  Génération des classes permettant de modifier
  le poids des polices de caractères
\*-----------------------------------------------*/
.font-weight-bold {
  font-weight: 900 !important;
}

.font-weight-semi-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 500 !important;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*-----------------------------------------------------*\
  #GLOBAL

  ------------------------------
  Application des styles global au sein des éléments
  de l'ensemble de l'application
\*----------------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 100%;
}

/*
 * Défini globalement la taille des boîtes pour gérer les largeurs de rembourrage et de bordure.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 *  Styles du body par défaut
 */
body {
  margin: 0;
  padding: 0;
  background: #e0e8ff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #767e98;
}

/*
 * Réinitialise les styles de <bouton> créés par la plupart des navigateurs
 */
button {
  padding: 0;
  appearance: none;
  border: 0;
  background: transparent;
  line-height: 1;
  cursor: auto;
}

/*
 * Faire en sorte que la réinitialisation hérite de font-family au lieu des paramètres sans-serif
 */
button {
  font-family: inherit;
}

/*----------------------------------------*\
  #PROTOTYPE-DISPLAY
\*----------------------------------------*/
/*
 * Map contenant toute les classes utilitaires `display`
 * @type Map
 */
/*
 * Génère toutes les classes `display`
 */
.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

.display-table {
  display: table !important;
}

.display-table-cell {
  display: table-cell !important;
}

.display-flex {
  display: flex !important;
}

/*----------------------------------------*\
  #PROTOTYPE-SIZING
\*----------------------------------------*/
/*
 * Map contenant toutes les classes de `sizing`.
 * @type Map
 */
/*
 * Map contenant toute les tailles
 * @type Map
 */
.width-25 {
  width: 25% !important;
}

.width-50 {
  width: 50% !important;
}

.width-75 {
  width: 75% !important;
}

.width-100 {
  width: 100% !important;
}

.height-25 {
  height: 25% !important;
}

.height-50 {
  height: 50% !important;
}

.height-75 {
  height: 75% !important;
}

.height-100 {
  height: 100% !important;
}

.vh-100 {
  height: 100vh;
}

/*-------------------------------------------------------------------*\
  #PROTOTYPE-FLEX

  Crée des classes utilitaires appropriées concernant les flexbox
  ( source intéressante aller dans le code source de bootstrap dans
  le dossier utilities, les fichiers utilities et bootstrap grid )
  Note: La classe display flex est conçu dans le fichier display.
  Théoriquement elle devrait être conçu au sein de ce fichier pour
  plus de cohérence ( cela dépend pour qui ).
\*--------------------------------------------------------------------*/
/*
 * Schema CSS de l'ensemble des propriétés des flex box ( qui me sont pour l'instant nécessaire) :
 *   - Property: Nom de la property. Cela serra également le nom de la class par défaut
 *   - Class: Customisation de la class. Si c'est appliqué, cela serra `class-property` (ex: flex-row)
 *   - Values: Valeur que la property prendra ( une valeur = une classe utilitaire) :
 *             Chaque clés au sein de ces valeurs feront partie intégrante de la classe
 * @type Map
 */
.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*--------------------------------------------------------*\
  #PROTOTYPE-SPACER

  Gère les espace globale au margin, padding ect.
  Permet la cohérence des espacements entre les éléments.
\*--------------------------------------------------------*/
/*
 * Espacement principal baser que la margin globale ( 1rem = font-size 100% = 16px )
 * @type Number
 */
/*-------------------------------------------------------------------*\
  #PROTOTYPE-SPACER

  Crée des classes utilitaires appropriées concernant les espacement
  ( source intéressante aller dans le code source de bootstrap dans
  le dossier utilities, les fichiers utilities et bootstrap grid )
\*--------------------------------------------------------------------*/
/*
 * Schema CSS de l'ensemble des propriétés des margin ( qui me sont pour l'instant nécessaire) :
 *   - Property: Nom de la property. Cela serra également le nom de la class par défaut
 *   - Class (optionnel): Customisation de la class. Si c'est appliqué, cela serra `class-property`
 *                        (ex: display-flex)
 *   - Space-position: Quelles sont les différents espacement impacté ( ici margin-top, margin-bottom ou les deux ect.).
 *           margin: 1-Haut 2-droite 3-bas 4-gauche,
 *           padding: 1-Haut 2-droit 3-Bas 4-Gauche
 *   - Values: Valeur que la property prendra ( une valeur = une classe utilitaire) :
 *             Chaque clés au sein de ces valeurs feront partie intégrante de la classe
 * @type Map
 */
.margin-0 {
  margin: 0 0 0 0 !important;
}

.margin-1 {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}

.margin-2 {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.margin-3 {
  margin: 1rem 1rem 1rem 1rem !important;
}

.margin-4 {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem !important;
}

.margin-5 {
  margin: 3rem 3rem 3rem 3rem !important;
}

.margin-x-0 {
  margin: 0 0 0 0 !important;
}

.margin-x-1 {
  margin: 0 0.25rem 0 0.25rem !important;
}

.margin-x-2 {
  margin: 0 0.5rem 0 0.5rem !important;
}

.margin-x-3 {
  margin: 0 1rem 0 1rem !important;
}

.margin-x-4 {
  margin: 0 1.5rem 0 1.5rem !important;
}

.margin-x-5 {
  margin: 0 3rem 0 3rem !important;
}

.margin-y-0 {
  margin: 0 0 0 0 !important;
}

.margin-y-1 {
  margin: 0.25rem 0.25rem 0 0 !important;
}

.margin-y-2 {
  margin: 0.5rem 0.5rem 0 0 !important;
}

.margin-y-3 {
  margin: 1rem 1rem 0 0 !important;
}

.margin-y-4 {
  margin: 1.5rem 1.5rem 0 0 !important;
}

.margin-y-5 {
  margin: 3rem 3rem 0 0 !important;
}

.margin-top-0 {
  margin: 0 0 0 0 !important;
}

.margin-top-1 {
  margin: 0.25rem 0 0 0 !important;
}

.margin-top-2 {
  margin: 0.5rem 0 0 0 !important;
}

.margin-top-3 {
  margin: 1rem 0 0 0 !important;
}

.margin-top-4 {
  margin: 1.5rem 0 0 0 !important;
}

.margin-top-5 {
  margin: 3rem 0 0 0 !important;
}

.margin-end-0 {
  margin: 0 0 0 0 !important;
}

.margin-end-1 {
  margin: 0 0.25rem 0 0 !important;
}

.margin-end-2 {
  margin: 0 0.5rem 0 0 !important;
}

.margin-end-3 {
  margin: 0 1rem 0 0 !important;
}

.margin-end-4 {
  margin: 0 1.5rem 0 0 !important;
}

.margin-end-5 {
  margin: 0 3rem 0 0 !important;
}

.margin-bottom-0 {
  margin: 0 0 0 0 !important;
}

.margin-bottom-1 {
  margin: 0 0 0.25rem 0 !important;
}

.margin-bottom-2 {
  margin: 0 0 0.5rem 0 !important;
}

.margin-bottom-3 {
  margin: 0 0 1rem 0 !important;
}

.margin-bottom-4 {
  margin: 0 0 1.5rem 0 !important;
}

.margin-bottom-5 {
  margin: 0 0 3rem 0 !important;
}

.margin-start-0 {
  margin: 0 0 0 0 !important;
}

.margin-start-1 {
  margin: 0 0 0 0.25rem !important;
}

.margin-start-2 {
  margin: 0 0 0 0.5rem !important;
}

.margin-start-3 {
  margin: 0 0 0 1rem !important;
}

.margin-start-4 {
  margin: 0 0 0 1.5rem !important;
}

.margin-start-5 {
  margin: 0 0 0 3rem !important;
}

.padding-0 {
  padding: 0 0 0 0 !important;
}

.padding-1 {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}

.padding-2 {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.padding-3 {
  padding: 1rem 1rem 1rem 1rem !important;
}

.padding-4 {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
}

.padding-5 {
  padding: 3rem 3rem 3rem 3rem !important;
}

.padding-x-0 {
  padding: 0 0 0 0 !important;
}

.padding-x-1 {
  padding: 0 0.25rem 0 0.25rem !important;
}

.padding-x-2 {
  padding: 0 0.5rem 0 0.5rem !important;
}

.padding-x-3 {
  padding: 0 1rem 0 1rem !important;
}

.padding-x-4 {
  padding: 0 1.5rem 0 1.5rem !important;
}

.padding-x-5 {
  padding: 0 3rem 0 3rem !important;
}

.padding-y-0 {
  padding: 0 0 0 0 !important;
}

.padding-y-1 {
  padding: 0.25rem 0.25rem 0 0 !important;
}

.padding-y-2 {
  padding: 0.5rem 0.5rem 0 0 !important;
}

.padding-y-3 {
  padding: 1rem 1rem 0 0 !important;
}

.padding-y-4 {
  padding: 1.5rem 1.5rem 0 0 !important;
}

.padding-y-5 {
  padding: 3rem 3rem 0 0 !important;
}

.padding-top-0 {
  padding: 0 0 0 0 !important;
}

.padding-top-1 {
  padding: 0.25rem 0 0 0 !important;
}

.padding-top-2 {
  padding: 0.5rem 0 0 0 !important;
}

.padding-top-3 {
  padding: 1rem 0 0 0 !important;
}

.padding-top-4 {
  padding: 1.5rem 0 0 0 !important;
}

.padding-top-5 {
  padding: 3rem 0 0 0 !important;
}

.padding-end-0 {
  padding: 0 0 0 0 !important;
}

.padding-end-1 {
  padding: 0 0.25rem 0 0 !important;
}

.padding-end-2 {
  padding: 0 0.5rem 0 0 !important;
}

.padding-end-3 {
  padding: 0 1rem 0 0 !important;
}

.padding-end-4 {
  padding: 0 1.5rem 0 0 !important;
}

.padding-end-5 {
  padding: 0 3rem 0 0 !important;
}

.padding-bottom-0 {
  padding: 0 0 0 0 !important;
}

.padding-bottom-1 {
  padding: 0 0 0.25rem 0 !important;
}

.padding-bottom-2 {
  padding: 0 0 0.5rem 0 !important;
}

.padding-bottom-3 {
  padding: 0 0 1rem 0 !important;
}

.padding-bottom-4 {
  padding: 0 0 1.5rem 0 !important;
}

.padding-bottom-5 {
  padding: 0 0 3rem 0 !important;
}

.padding-start-0 {
  padding: 0 0 0 0 !important;
}

.padding-start-1 {
  padding: 0 0 0 0.25rem !important;
}

.padding-start-2 {
  padding: 0 0 0 0.5rem !important;
}

.padding-start-3 {
  padding: 0 0 0 1rem !important;
}

.padding-start-4 {
  padding: 0 0 0 1.5rem !important;
}

.padding-start-5 {
  padding: 0 0 0 3rem !important;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*-----------------------------------------------*\
  #TYPOGRAPHY-COLORS

  Définition des couleurs de text / liens possible
\*------------------------------------------------*/
.background-light-primary {
  background: #e0e8ff;
}

.background-light-neutral {
  background: #f5f7ff;
}

.background-medium-neutral {
  background: #7280a7;
}

.background-dark-primary {
  background: #3829e0;
}

.background-dark-neutral {
  background: #1f2f56;
}

.background-gray-light {
  background: #e6e6e6;
}

.background-gray-medium {
  background: #c9c9c9;
}

.background-gray-dark {
  background: #767e98;
}

.background-black-dark {
  background: #1d2a49;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*-----------------------------------------------------------------*\
  #PROTOTYPE-BORDER
\*-----------------------------------------------------------------*/
/*
 * Schema CSS de l'ensemble des propriétés des margin ( qui me sont pour l'instant nécessaire) :
 *   - Property: Nom de la property. Cela serra également le nom de la class par défaut
 *   - Class (optionnel): Customisation de la class. Si c'est appliqué, cela serra `class-property`
 *                        (ex: display-flex)
 *   - Base: Quelles sont les différents espacement impacté ( ici margin-top, margin-bottom ou les deux ect.).
 *           border radius position: 1. coin en haut à gauche, 2. coin en haut à droite,
 *                                   3. coin en bas à droite, 4. coin en bas à gauche
 *   - Values: Valeur que la property prendra ( une valeur = une classe utilitaire) :
 *             Chaque clés au sein de ces valeurs feront partie intégrante de la classe
 * @type Map
 */
.rounded {
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem !important;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*------------------------------------*\
  #SETTINGS-BUTTON-BLOCK
\*------------------------------------*/
/*
 * Arrondis les bords des boutons
 * @type Number
 */
/*
 * Famille de polices pour les éléments de bouton.
 * @type Font
 */
/*
 * Rembourrage à l'intérieur des boutons.
 * type List
 */
/*
 * Marge autour des boutons.
 * type Number
 */
/*
 * Remplissage par défaut des boutons. Peut être soit `solid` soit `hollow`.
 * @type Keyword
 */
/*
 * Couleur de fond par défaut des boutons.
 * @type Color
 */
/*
 * Couleur de fond au survol pour les boutons.
 * @type Color
 */
/*
 * Couleur de la police pour les boutons.
 * @type List
 */
/*
 * Border for buttons, transparent by default
 * @type List
 */
/*
 * Transitions pour les boutons.
 * @type List
 */
/*
 * Taille des boutons.
 * @type Number
 */
/*
 * Poids des polices des boutons
 * @type Number
 */
/*
 * Ombre d'un bouton par défaut. Ici c'est avec la couleur primary
 * Il serai judicieux de séparer les ombres au sein de classes utilitaires
 * @type List
 */
/*------------------------------------*\
  #COMPONENTS-BUTTON-BLOCK

  Block de la méthodologie du B de BEM
\*------------------------------------*/
/*
 * Structure principale des boutons par défaut
 */
.button {
  border-radius: 0.8rem;
  margin: 0 0 1rem 0;
  padding: 1em 2.9em;
  vertical-align: middle;
  border: 1px solid transparent;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: 0px 9px 15px rgba(56, 41, 224, 0.25);
}

/*------------------------------------*\
  #COMPONENTS-BUTTON-STATES
\*------------------------------------*/
/*
 * États par défaut en mode désactivés des boutons
 */
.button.disabled, .button[disabled],
.button.disabled:hover, .button[disabled]:hover,
.button.disabled:focus, .button[disabled]:focus {
  background-color: #3829e0;
  color: #e0e8ff;
}

/*
 * États de survole des boutons
 */
.button:hover,
.button:focus {
  background-color: #756af1;
}

/*------------------------------------------*\
  #COMPONENTS-BUTTON-MODIFIER

  Modifier du M de BEM
\*------------------------------------------*/
/*
 * Modifie la couleur de la font et du background des boutons avec une couleur primaire
 */
.button--primary {
  background: #3829e0;
  color: #e0e8ff;
}

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/
/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
/*
 * Liste de polices du body
 * @type List
 */
/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
/*
 * Background color du body
 * @type Color
 */
/*
 * Liste de polices du corps.
 * @type List
 */
/*
 * Couleur du texte du body.
 * @type Color
 */
/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
/*-----------------------------------------------------------------*\
  #SETTINGS-CARD

  Permet de paramétré les propriétés appliqué au sein des cartes
\*-----------------------------------------------------------------*/
/*
 * Arrondis les bords des cards
 * @type Number
 */
/*
 * Couleur de fond par défaut des cards.
 * @type Color
 */
/*
 * Largeur maximal des cards
 * @type Number
 */
/*
 * Valeur globale utilisée concernant le rembourrage des cards
 * @type Number
 */
/*
 * Couleur de police par défaut pour les cards.
 * @type Color
 */
/*
 * Ombre d'une carte par défaut.
 * @type List
 */
/*
 * La carte hérite de la marge globale
 * @type Number
 */
/*------------------------------------*\
  #SETTINGS-CARD-ELEMENTS
\*------------------------------------*/
/*
 * Background image de l'élément background de la card pour le mobile
 * @type List
 */
/*
 * Valeur utilisée pour fixer la margin tout en haut et tou a gauche de la card
 * 1.haut 2.droite 3.bas 4.gauche
 * @type List
 */
/*
 * Largeur utilisée pour l'élément background d'une card auquel je rajoute le
 * padding que je multi par 2 afin que la width face 100% de la card
 * @type Number
 */
/*
 * Fixe les bords de l'élément background d'une card en haut à gauche et en haut à droite
 * 1. coin en haut à gauche,
 * 2. coin en haut à droite
 * 3. coin en bas à droite
 * 4. coin en bas à gauche
 * @Number
 */
/*
 * Valeur de la hauteur de la carte
 * @type Number
 */
/*
 * Valeur de la taille de police de la carte
 * @Number
 */
/*-------------------------------------------------*\
  #COMPONENTS-CARD-BLOCK

  ---------------------------------------------------
  Application de la structure global des cards
\*---------------------------------------------------*/
/*
 * Structure principale des cards par défaut
 */
.card {
  background: white;
  border-radius: 0.8rem;
  max-width: 22rem;
  padding: 1rem;
  color: #767e98;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  margin: 1rem;
}

/*-------------------------------------------------*\
  #COMPONENTS-CARD-ELEMENTS

  ---------------------------------------------------
  Style des elements se trouvant au sein des cartes
\*---------------------------------------------------*/
/*
 * Structure principale de l'élément background d'une card
 */
.card__background {
  background: url("../images/illustration-hero.svg") no-repeat center;
  margin: -1rem 0rem 1rem -1rem;
  height: 10rem;
  width: calc(100% + 2rem);
  border-radius: 0.8rem 0.8rem 0 0;
}

/*
 * Taille de police principal de la card
 */
.card__title {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
