@use "sass:map";

/*------------------------------------*\
  #SETTINGS-GLOBAL
\*------------------------------------*/

/*
 * Attribut de taille de police appliqué à `<html>` et `<body>`. Nous utilisons 100% par défaut,
 * la valeur est donc héritée des paramètres du navigateur de l'utilisateur.
 */
$font-size: 100% !default;

/*
 * Hauteur de ligne par défaut pour tous les types. `$global-lineheight` est 24px alors que
 *`$global-font-size` est 16px
 */
$lineheight: 1.5 !default;

/*
 * Couleurs utilisées pour les boutons, les légendes, les liens, etc.
 * Il doit toujours y avoir une couleur appelée `primary`.
 */
$palette: (
   light:(
      primary: (
         color: hsl(225, 100%, 94%),
      ),
      neutral: (
         color: hsl(225, 100%, 98%),
      ),
   ),
   medium: (
      neutral: (
         color: hsl(224, 23%, 55%),
      )
   ),
   dark: (
      primary: (
         color: hsl(245, 75%, 52%),
         hover: hsl(245, 83%, 68%),
      ),
      neutral: (
         color: hsl(223, 47%, 23%),
      ),
   ),
   gray: (
      light: (
         color: hsla(0, 0%, 90%, 1)
      ),
      medium: (
         color: hsla(0, 0%, 79%, 1),
      ),
      dark: (
         color: hsla(227, 14%, 53%, 1),
         hover: hsla(222, 43%, 20%, 1),
      )
   )
);

/*
 * Liste de polices du body
 * @type List
 */
$font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;

/*
 * Valeur globale utilisée pour la marge sur les composants
 * @type Number
 */
$margin: 1rem !default;

/*
 * Valeur globale utilisée pour le rembourrage des composants
 * @type Number
 */
$padding: 1rem !default;

/*
 * Poids de la police globale utilisée pour les caractères normaux
 * @type Keyword | Number
 */
$weight-normal: 500 !default;

/*
 * Background color du body
 * @type Color
 */
$body-background: map.get($palette, light, primary, color) !default;

/*
 * Liste de polices du corps.
 * @type List
 */
$body-font-family: $font-family !default;

/*
 * Couleur du texte du body.
 * @type Color
 */
$body-font-color: map.get($palette, gray, dark, color) !default;


/*
 * Valeur du curseur du bouton, `auto` par défaut
 * @type Keyword
 */
$button-cursor: auto !default;

/*
 * Arrondi les bords de tout les éléments qui peuvent avoir un bord arrondis.
 * @type Number
 */
$radius: .8rem;


